<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
    <link rel="stylesheet" href="/health/css/testimonals.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"> -->

       
</head>
<body>
    <nav class="navbar"></nav>
        <div id="head_content"></div>
    <div id="body_content"></div>
    </nav>
   
    <header>
        
        
    </header>
    <div class="carousel">
        <div class="list">
            <div class="item">
                <img src="/health/images/Testimonals/img23.jpg">
                <div class="content">
                    <div class="author">GENTLE HANDS</div>
                    <div class="title">CARE</div>
                    <div class="topic">TESTIMONIALS</div>
                    <div class="des">
                        <b class="big-bold-text">KNOW OUR STORIES AND FEEDBACKS</b>
                    </div>
                </div>    
            </div>           
            <div class="item">
                <img src="/health/images/Testimonals/img15.jpg">
                <div class="content">
                    <div class="author">TESTIMONIAL 1</div>
                    <div class="title">MR.ASHISH</div>
                    <div class="topic">Bagga</div>
                    <div class="des">
                        "The staff at Gentle Hands Care is phenomenal they are doing the god's work by helping the world",
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/health/images/Testimonals/img16.jpg">
                <div class="content">
                    <div class="author">TESTIMONIAL 2</div>
                    <div class="title">MR.ABHAY</div>
                    <div class="topic">SHARMA</div>
                    <div class="des">
                        "Gentle Hands Care provides the best facilities to people like us and provide the best care and attention needed!!",
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/health/images/Testimonals/img17.jpg">
                <div class="content">
                    <div class="author">TESTIMONIAL 3</div>
                    <div class="title">MR.VIVEK</div>
                    <div class="topic">WADHWA</div>
                    <div class="des">
                        "I have never experienced such compassionate care. Thank you, Gentle Hands Care for making my day special!",
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/health/images/Testimonals/img28.jpg">
                <div class="content">
                    <div class="author">TESTIMONIAL 4 </div>
                    <div class="title">MR. SUSHIL</div>
                    <div class="topic">AHUJA</div>
                    <div class="des">
                        "Gentle Hands Care really pays attention to what we require and when. Hats off to their hard work. Highly recommended to all!!",
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/health/images/Testimonals/img18.jpg">
                <div class="content">
                    <div class="author">TESTIMONIAL 5</div>
                    <div class="title">MRS.KRITI</div>
                    <div class="topic">SEHGAL</div>
                    <div class="des">
                        "The consistency, dedication, and the amount of effort put in by the people at Gentle Hands Care is to be recognized all across the globe. Strongly recommended to all!!",
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="thumbnail">
            <div class="item">
                <img src="/health/images/Testimonals/img18.jpg">
                <div class="content">
                    <div class="title">
                       Feedback from
                    </div>
                    <div class="description">
                        MRS.Kriti Sehgal
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/health/images/Testimonals/img15.jpg">
                <div class="content">
                    <div class="title">
                        Feedback from
                    </div>
                    <div class="description">
                        MR.Ashish Bagga
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/health/images/Testimonals/img28.jpg">
                <div class="content">
                    <div class="title">
                        Feedback from
                    </div>
                    <div class="description">
                        MR.Sushil Ahuja
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/health/images/Testimonals/img16.jpg">
                <div class="content">
                    <div class="title">
                        Feedback from
                    </div>
                    <div class="description">
                        MR.Abhay Sharma
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/health/images/Testimonals/img17.jpg">
            <div class="content">
                <div class="title">
                    Feedback from
                </div>
                <div class="description">
                    MR.Vivek Wadhwa
                </div>
            </div>
        </div>
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <div class="time"></div>
        <div id="footer_content"></div>
    </div>

    <script src="/health/testimonals/controller/testimonals.js"></script>
    
</body>
</html>
<script>
    // Load the header into the #head_content div
    $('#head_content').load('/health/common/views/header.html');
    $('#body_content').load('/health/common/views/body.html');

    // Load the footer into the #footer_content div
    $('#footer_content').load('/health/common/views/footer.html');
</script>